# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables

# Firebase service account key
database/mundo.json

# Other
.DS_Store

# Ignorar el archivo .env
.env

# Added files and directories
.firebaserc
constants.js
crossbrowser.js
firebase.json
.eslintrc.js
.firebaserc
firebase.json
index.html
index.js
scheduler.js
utils.js
